// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files


$primary   : #4963EB;
$secondary : #26A69A;
$accent    : #4963EB;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #49EB69;
$negative  : #EB4961;
$info      : #0962b4;
$warning   : #F2C037;
